{% extends 'layouts/content/members-area/chat.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block main %}
    <div id="main-content">
        <div class="alert alert-info">
            Hello chat!
        </div>
    </div>
{% endblock %}
