<?php

return array(
    'baseUrl' => 'http://projects.dev/chat-o-mat',
    
    // Database / Doctrine options
    'databaseOptions' => array(
        'default' => array(
            'driver' => 'pdo_mysql',
            'host' => 'localhost',
            'dbname' => 'chat_with_me',
            'user' => 'chat_with_me',
            'password' => 'chat_with_me',
            'charset' => 'utf8',
        ),
    ),
);
