<?php

return array(
    'baseUrl' => 'http://projects.dev/chat-o-mat',
    // Swiftmailer options
    'swiftmailerOptions' => array(
        'host' => 'corcosoft.com',
        'port' => 465,
        'username' => 'info@corcosoft.com',
        'password' => '',
        'encryption' => 'ssl',
        'auth_mode' => null,
    ),

);
